body {
    padding: 0px;
    margin: 0px;
    color:black;
    font-size: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}

.container {
    /* border: 1px solid red; */
    width: 1110px;
    margin: 0 auto;
}