body {
    padding: 0px;
    margin: 0px;
    color:black;
    font-size: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    letter-spacing: 0.03em; 
    line-height: 1.55em;
}

* {
    box-sizing: border-box;
}
p{
    letter-spacing: 0.03em; 
    line-height: 1.55em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
}

.container {
    /* border: 1px solid red; */
    width: 1110px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

header {
    padding-top: 72px;

}

.header-content{
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.plase {
    font-size: 18px;
    margin-bottom: 21px;
}

.offer {
    margin-bottom: 98px;
    margin-top: 52px;
}

.offer-title {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.desc {
    font-size: 18px;
    margin-bottom: 21px;
    margin-top: 21px;
}

.btn {
    color: #fff;
    background: #6A85E3;
    font-size: 18px;
    padding: 18px 30px;
    font-weight: 700;
    display: block;
    width: 197px;
    text-align: center;
}
.btn:hover {
    background: #2e49aa;
}
.btn:active {
    background: #2d51d6;
}

.intro {
    background: #eaeaea ;
    padding: 30px;
    width: 441px;
}

.intro-title {
    font-weight: 700;
    margin-bottom: 17px;
}

.bali-img {

}